<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.vegetarians824"
    android:versionCode="4"
    android:versionName="4.1.1">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="24" />
    <!-- 需要申明的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 地图包、搜索包需要的基础权限 -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 定位包、导航包需要的额外权限（注：基础权限也需要 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 友盟权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <!-- 适配Android N系统必需的ContentProvider写权限声明 -->
    <!-- 适配Android N系统必需的ContentProvider写权限声明，写权限包含应用包名 -->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.example.administrator.vegetarians824" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 自动聚焦权限 -->
    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.example.administrator.vegetarians824"
        android:protectionLevel="normal" />
    <!-- Required -->
    <permission
        android:name="com.example.administrator.vegetarians824.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.example.administrator.vegetarians824.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".myapplications.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dongdong.HuodongDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.LishiDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.HuodongDiqu"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="14db6756020cc93e5a0ec5166d2b6ace" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57d2202967e58e6b740005ef" />

        <activity
            android:name=".dongdong.HuodongRoute"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.CitySelectScrollView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.CantingDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.CantingRoute"
            android:screenOrientation="portrait" />

        <!-- QQ分享 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微博分享 -->
        <activity
            android:name=".wbapi.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!--<service-->
            <!--android:name="com.sina.weibo.sdk.net.DownloadService"-->
            <!--android:exported="false" />-->

        <activity
            android:name=".dongdong.AWord"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dongdong.AWord2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.Trip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.CaipuDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.JKyuansu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.JKYuansuDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.JKsheru"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.JKsheruResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.JKshuguo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.JKshuguoDetial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.JKshuguoPH"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.JKPaihangDetial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.JKtiaozhan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.TieziDetial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.Zhuce"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.Xiugai"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.Xieyi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.UpdateName"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.UpdateIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.UpdateArea"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.UpdateAreaCity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.UpdatePwd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyFabu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyDianping"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.Tiezi2Detial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyCollect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyFankui"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyCode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MySetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fankui.Fankui"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fankui.Thanks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.JifenRank"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.UpdatePhone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fabu.FabuCP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fabu.FabuFD"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fabu.FabuTZ"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.Comment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".dongdong.Comment2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".mine.UserDetial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.MyCalender"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.JKquestion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.HuodongWeb"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.CantingJiucuo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.JKsearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyDuihuan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <!-- push service start -->
        <!-- 用于接收系统消息以保证PushService正常运行 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求 -->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />

        <!-- 适配Android N系统所必需的ContentProvider, 写权限中包含应用包名 -->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="com.yang.baidupushdemo.bdpush"
            android:exported="true"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.example.administrator.vegetarians824" />

        <!-- push结束 -->
        <receiver android:name=".push.PushMessageReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind、setTags等method的返回结果 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <!-- 接收通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".dongdong.JKlingshi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.JKlsdetial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.Aerweima"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.JKfujin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserCenter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.MapSearch"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".dongdong.Jiudian"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fabu.FabuShHd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.Wenda"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.Tiezi3Detial"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".fabu.FabuShUpdate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SellerCenter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fabu.FabuCaipuUpdate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fabu.FabuHD"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fabu.FabuHDUpdate"
            android:screenOrientation="portrait" />

        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="sge53mXmXdfzrziNDxZ4EkcM88KLSWe0" />
        <!-- abcd1234 -->
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="isuhuo" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />

        <activity android:name=".fabu.FabuFDWhere" />

        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.example.administrator.vegetarians824" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.example.administrator.vegetarians824" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.administrator.vegetarians824" />
            </intent-filter>
        </activity>
        <!-- SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.administrator.vegetarians824" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.example.administrator.vegetarians824" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="95ef1894483dd72cab669833" />

        <activity
            android:name=".dongdong.JKshuguoDetialMore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dongdong.WendaSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.SearchRestaurant"
            android:screenOrientation="portrait" />
        <activity
            android:name=".article.ArticleList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".article.ArticleDetial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".veganpass.WelcomePage"
            android:screenOrientation="landscape" />
        <activity
            android:name=".veganpass.FeedBack"
            android:screenOrientation="landscape" />
        <activity
            android:name=".veganpass.VPHomePage"
            android:screenOrientation="landscape" />
        <activity
            android:name=".veganpass.FavourList"
            android:screenOrientation="landscape" />
        <activity
            android:name=".veganpass.EditFavour"
            android:screenOrientation="landscape" />
        <activity
            android:name=".article.ArticleSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fabu.FabuShangHu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".video.VideoList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".video.VideoDetail"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".video.VideoDownload"
            android:screenOrientation="portrait" />
        <activity
            android:name=".video.VideoSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".video.VideoDownloading"
            android:screenOrientation="portrait" />
        <activity android:name=".video.CaipuGet" />
        <activity android:name=".mine.MyCollect2" />
        <activity android:name=".veganpass.PreferencePage"/>
        <activity android:name=".veganpass.CheckLanguage"/>
        <activity android:name=".veganpass.Setting"/>
        <activity android:name=".veganpass.PassportHome"/>

    </application>

</manifest>